*{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 15px 50px;
    background-color: mediumvioletred;
}

header>img{
    width: 25px;
    height: 25px;
}

body {
    display: flex;
    flex-direction: column;
    
}

main{
    display: flex;
    flex-direction: row;
}

#titulo-pagina{
    flex-grow: 0.95;
}

#login{
    padding: 0 5px;
}

#menu-site{
    background-color: #f2d0e0;
    width: 200px;
    display: flex;
    flex-direction: column;  
}

#home, #produtos, #carrinho, #perfil{
    display: flex;
    justify-content: flex-start;
    padding: 10px 20px; 
    background-color: #f2d0e0;
} 

#home>img, #produtos>img, #carrinho>img, #perfil>img {
    width: 15px;
    height: 15px;
    padding: 0 10px;
}


#conteudo{
    background-color:white;
    display: grid;

    
}

#conteudo>img{
    height: 75px;
    width: 75px;   
}



footer{
    background-color: mediumvioletred;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;

}